@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  background: #cac8c4;
  box-shadow:  41px 41px 82px #b0aeab, -41px -41px 82px #e4e2dd;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 97.5vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: black;
  align-items: center;
  
}

.menu li {
  margin: 0 20px;
}

.menu li:first-child {
  background-color: blue;
  padding: 20px;
}

a{
  text-decoration: none;
  color: white;
}

.rodape {
  background-color: black;
  color: white;
  padding: 15px;
}
